<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BillInfoClass copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>BillInfoClass.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>BinarySort.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Customer/Catering Bill.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>RainFall12months 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>RainFall12months copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>RainFall12months.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>RainFallBubbleSort 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>RainFallBubbleSort.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SequentialSort.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6C60A65F1C9AD0D8004BB538</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C60A66C1C9AD131004BB538</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CAFF02E19372087008B4B1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CAFF04419395137008B4B1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CB14CAD193E8972002D6B2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CB14CBF193E964A002D6B2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CB14CEE19422352002D6B2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CB14CFB194257B1002D6B2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CB14D0C1942718B002D6B2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CBB10F61981F989006C054A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CBB10FF1981F9CF006C054A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CBB110B1983C5AF006C054A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CEA399B1953E57A0053B3DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
